.global-toolbar {
    width: 100%;
    position: relative;

    .close-button {
        color: black;
        padding: $tny;
        position: absolute;
        right:0;
        top: 0;
        cursor: pointer;

        &:hover {
            background-color: $red;
            color: white;
        }
    }
}